<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" type="text/css" href="/+static/base.css" />
		<link rel="stylesheet" type="text/css" href="/+static/doc.css" />
        <title>{% if title %}{{ title }} - {% endif %}{{ site.title }}</title>
	</head>
	<body class="Site">
		<header class="Site-header">
			<div class="Header">
			</div>
		</header>

		<div class="Site-content">
            <div class="Container">
                {% block content %}{% endblock content %}
            </div>
		</div>

		<footer class="Site-footer">
			<div class="Footer">
				<span class="Footer-poweredBy">
				</span>
			</div>
		</footer>
	</body>
</html>
