{% extends "layout.html" %}
{% import "log_macro.html" as log %}

{% block content %}
    <h2 class="RepoDescription">{{ repo.description }}</h2>

    <div class="CloneRepo">
	    <div class="CloneRepo-title">Clone this repo:</div>
	    <input type="text" class="u-monospace CloneRepo-command"
            onclick="this.focus();if(this.selectionStart==this.selectionEnd){this.select()}"
            readonly="readonly" value="git clone lol">
    </div>

    <div class="RepoShortlog">
		<div class="RepoShortlog-refs">
			<div class="RefList">
				<h3 class="RefList-title">Branches</h3>
				<ul class="RefList-items">
					{% for branch in details.branches %}
						<li class="RefList-item"><a href="/{{ repo.name }}/+/{{ branch }}">{{ branch }}</a></li>
					{% endfor %}
				</ul>
			</div>
		</div>
		<div class="RepoShortlog-log">
			<ol class="CommitLog">
				{% for commit in details.commits %}
					{{ log::wrapper(repo=repo, commit=commit, variant="oneline") }}
				{% endfor %}
			</ol>
		</div>
  </div>
{% endblock %}
