{% macro commit(commit) %}
    <div class="u-monospace Metadata">
        <table>
            <tr>
                <th class="Metadata-title">commit</th>
                <td>{{ commit.hash }}</td>
                <td>
                <span>
                [<a href="{$logUrl}">{msg desc="text for the log link"}log{/msg}</a>]
                </span>
                {sp}<span>[<a href="{$archiveUrl}">{$archiveType}</a>]</span>
                </td>
            </tr>
            <tr>
                <th class="Metadata-title">author</th>
                <td>{{ commit.author }}</td>
                <td>time</td>
            </tr>
            <tr>
                <th class="Metadata-title">committer</th>
                <td>{{ commit.committer }}</td>
                <td>{$committer.time}</td>
            </tr>
            <tr>
            <th class="Metadata-title">{msg desc="Header for tree SHA entry"}tree{/msg}</th>
            <td><a href="{$treeUrl}">{$tree}</a></td>
            </tr>
            {for $parent in $parents}
            <tr>
            <th class="Metadata-title">{msg desc="Header for parent SHA"}parent{/msg}</th>
            <td>
            <a href="{$parent.url}">{$parent.sha}</a>
            {sp}<span>
            [<a href="{$parent.diffUrl}">{msg desc="text for the parent diff link"}diff{/msg}</a>]
            {if isNonnull($parent.blameUrl)}
            {sp}[<a href="{$parent.blameUrl}">{msg desc="text for the parent blame link"}blame{/msg}</a>]
            {/if}
            </span>
            </td>
            </tr>
        </table>
    </div>
{% endmacro %}