{% macro commit(commit) %}
    <div class="u-monospace Metadata">
        <table>
            <tr>
                <th class="Metadata-title">commit</th>
                <td>{{ commit.hash }}</td>
                <td>
                    <span>[<a href="{$logUrl}">log</a>]</span>
                    <span>[<a href="{$archiveUrl}">{$archiveType}</a>]</span>
                </td>
            </tr>
            <tr>
                <th class="Metadata-title">author</th>
                <td>{{ commit.author }}</td>
                <td>{$author.time}</td>
            </tr>
            <tr>
                <th class="Metadata-title">committer</th>
                <td>{{ commit.committer }}</td>
                <td>{$committer.time}</td>
            </tr>
            <tr>
                <th class="Metadata-title">tree</th>
                <td><a href="{$treeUrl}">{$tree}</a></td>
            </tr>
            {% for parent in [] %}
            <tr>
                <th class="Metadata-title">parent</th>
                <td>
                    <a href="{$parent.url}">{$parent.sha}</a>
                    <span>[<a href="{$parent.diffUrl}">diff</a>]
                    {if isNonnull($parent.blameUrl)}
                        [<a href="{$parent.blameUrl}">blame</a>]
                    {/if}
                    </span>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <pre class="u-pre u-monospace MetadataMessage">{{ commit.message }}</pre>
{% endmacro %}